/* ---------------------------------------------------------------------- */
/*	Import fonts
/* ---------------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900);

/* ---------------------------------------------------------------------- */
/*	Basic Elements & Classes
/* ---------------------------------------------------------------------- */
body {
	color: #888888;
	direction: ltr;
	font-family: 'Open+Sans', sans-serif;
	font-size: 13px;
}
a, a:focus, a:hover, a:active {
	outline: 0 !important;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans';
	color: #383838;
}
h1, h2, h3 {
	margin-bottom: 10px;
	margin-top: 10px;
}
p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
	margin-top: 1.5em;
}
p {
	margin: 0.85em 0;
}
p img {
	margin: 0;
}
/* ---------------------------------------------------------------------- */
/*	Generic Classes
/* ---------------------------------------------------------------------- */
.no-padding {
	padding: 0 !important;
}
.no-display {
	display: none;
}
.example {
	margin: 15px 0;
	padding: 14px 19px;
}
.widget {
	-moz-box-sizing: content-box;
	color: #333;
	margin-bottom: 30px;
	padding: 10px 12px;
	position: relative;
}
.space5 {
	display: block;
	margin-bottom: 5px !important;
	clear: both;
}

.space7 {
	margin-bottom: 7px !important;
	clear: both;
}

.space10 {
	margin-bottom: 10px !important;
	clear: both;
}

.space12 {
	margin-bottom: 12px !important;
	clear: both;
}

.space15 {
	margin-bottom: 15px !important;
	clear: both;
}

.space20 {
	margin-bottom: 20px !important;
	clear: both;
}
.teal {
	color: #569099;
}
a.teal:hover {
	color: #4d8189;
}
.orange {
	color: #E6674A;
}
a.orange:hover {
	color: #E35434;
}
.bricky {
	color: #C83A2A;
}
a.bricky:hover {
	color: #B33426;
}
.circle-img {
	border-radius: 100% 100% 100% 100%;
}
.center {
	text-align: center;
}
hr {
	background-image: -o-linear-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-image: -webkit-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-image: -webkit-linear-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-image: linear-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	border: 0 none;
	height: 1px;
	margin: 22px 0;
}
hr.fade-right {
	background-image: -o-linear-gradient(left center , rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-image: -webkit-gradient(left center , rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left center , rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left center , rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-image: -webkit-linear-gradient(left center , rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-image: linear-gradient(left center , rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	border: 0 none;
	height: 1px;
	margin: 22px 0;
}
hr.fade-left {
	background-image: -o-linear-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -webkit-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -webkit-linear-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	border: 0 none;
	height: 1px;
	margin: 22px 0;
}
.ie8 hr {
	background: #E2E2E2;
}
.go-top {
	cursor: pointer;
	display: block;
	width: 30px;
	height: 30px;
	font-size: 16px;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: -2px;
	text-decoration: none;
	line-height: 30px;
	text-align: center;
}
.section-content {
	margin-left: 5%;
}
.wrapper {
	clear: both;
	min-height: 100px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
.wrapper.padding50 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.wrapper.no-padding {
	padding-top: 0;
	padding-bottom: 0;
}
.wrapper-grey {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	background-color: #FCFCFC;
	color: #888888;
	border-top: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
}
.wrapper-grey h1, .wrapper-grey h2, .wrapper-grey h3 {
	color: #444444
}
.white {
	color: #FFFFFF !important;
}
.promobox {
	background-color: #F6F6F6;
	border-color: #FAEBCC;
	margin: 20px 0;
	padding: 20px;
	border: 1px solid #E7E7E7;
}
#scroll-top {
	background-color: #363839;
	transition: all 0.3s ease-out 0s;
	border: 1px solid #444444;
	color: #EEEEEE;
	border-radius: 2px;
	bottom: 70px;
	height: 50px;
	line-height: 50px;
	opacity: 1;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	display: none;
	width: 50px;
	z-index: 10000;
}
#scroll-top:hover {
	background-color: #FCFCFC;
	border: 1px solid #E1E1E1;
	color: #007AFF;
}
.show-grid [class*="col-"] {
	background: #E6E7E8;
	border: 10px solid #F7F8FA;
	line-height: 2em;
	margin-bottom: 10px;
	text-align: center;
}
/* ---------------------------------------------------------------------- */
/*	Animated Elements
/* ---------------------------------------------------------------------- */
.animate-if-visible, .animate-group .animate {
	position: relative;
	opacity: 0;
}
.ie8 .animate-if-visible, .ie8 .animate {
	filter: alpha(opacity = 0);
}
/* ---------------------------------------------------------------------- */
/*	Top Bar
/* ---------------------------------------------------------------------- */
#topbar {
	background: #FFFFFF;
	border-bottom: 1px solid #EFEFEF;
	font-size: 10px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1031;
}
#topbar .callus {
	color: #999999;
	line-height: 40px;
	font-size: 11px;
	font-weight: normal;
	padding: 0 10px;
}
#topbar .callus a {
	color: #999999;
}

#topbar .social-icons ul {
	float: right !important;
}
.colored-top-bar #topbar .callus, .colored-top-bar #topbar .callus a {
	color: #FFFFFF;
}
.colored-top-bar .social-icons ul li a:before {
	color: #FFFFFF;
}
/* ---------------------------------------------------------------------- */
/*	Social Icons
/* ---------------------------------------------------------------------- */
.social-icons ul {
	float: left;
	list-style: none;
	margin: 0 0 -1px 0;
	padding: 0;
	height: 40px;
	overflow: hidden;
}
.social-icons ul li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	height: 40px;
	overflow: hidden;
}
.social-icons ul li a {
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
	height: 80px;
	opacity: 0.6;
	text-indent: -9999px;
	transition: all 0.2s ease 0s;
	width: 40px;
	top: 0;
	font-size: 16px;
	position: relative;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.social-icons ul li a:hover {
	top: -40px;
}
.social-icons ul li a:before {
	position: absolute;
	width: 40px;
	height: 40px;
	font-family: FontAwesome;
	text-indent: 0;
	line-height: 40px;
	top: 0;
	left: 0;
	text-align: center;
	color: #999999;
}
.social-icons ul li a:after {
	position: absolute;
	width: 40px;
	height: 40px;
	font-family: FontAwesome;
	text-indent: 0;
	line-height: 40px;
	top: 40px;
	left: 0;
	text-align: center;
	color: #FFFFFF;
}
.social-icons ul li.social-twitter a:before {
	content: "\f099";
}
.social-icons ul li.social-twitter a:after {
	content: "\f099";
	background: #48C4D2;
}
.social-icons ul li.social-dribbble a:before {
	content: "\f17d";
}
.social-icons ul li.social-dribbble a:after {
	content: "\f17d";
	background: #EF5B92;
}
.social-icons ul li.social-facebook a:before {
	content: "\f09a";
}
.social-icons ul li.social-facebook a:after {
	content: "\f09a";
	background: #3B5998;
}
.social-icons ul li.social-google a:before {
	content: "\f0d5";
}
.social-icons ul li.social-google a:after {
	content: "\f0d5";
	background: #DD4B39;
}
.social-icons ul li.social-linkedin a:before {
	content: "\f0e1";
}
.social-icons ul li.social-linkedin a:after {
	content: "\f0e1";
	background: #71B2D0;
}
.social-icons ul li.social-youtube a:before {
	content: "\f167";
}
.social-icons ul li.social-youtube a:after {
	content: "\f167";
	background: #F45750;
}
.social-icons ul li.social-rss a:before {
	content: "\f09e";
}
.social-icons ul li.social-rss a:after {
	content: "\f09e";
	background: #FE9900;
}
ul.social-icons {
	margin: 0;
	padding: 0;
	width: auto;
}
ul.social-icons li {
	background-color: #FFFFFF;
	background-image: url("../img/social-sprites.png");
	background-position: 0 100px;
	background-repeat: no-repeat;
	border-radius: 100%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	display: inline-block;
	margin: -1px 1px 5px 0;
	overflow: visible;
	padding: 0;
	transition: all 0.3s ease 0s;
}
ul.social-icons li a {
	display: block;
	height: 30px;
	text-align: center;
	width: 30px;
}
ul.social-icons li[class] a {
	text-indent: -9999px;
}
ul.social-icons li a:hover {
	text-decoration: none;
}
ul.social-icons li a i[class^="icon-"] {
	color: #444444;
	position: relative;
	top: 3px;
}
ul.social-icons li a:active {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.3) inset;
}
ul.social-icons li:active, ul.social-icons li a:active {
	border-radius: 100%;
}
ul.social-icons li.digg {
	background-position: 0 0;
}
ul.social-icons li.digg:hover {
	background-position: 0 -30px;
}
ul.social-icons li.dribbble {
	background-position: 0 -60px;
}
ul.social-icons li.dribbble:hover {
	background-position: 0 -90px;
}
ul.social-icons li.facebook {
	background-position: 0 -120px;
}
ul.social-icons li.facebook:hover {
	background-position: 0 -150px;
}
ul.social-icons li.flickr {
	background-position: 0 -180px;
}
ul.social-icons li.flickr:hover {
	background-position: 0 -210px;
}
ul.social-icons li.forrst {
	background-position: 0 -240px;
}
ul.social-icons li.forrst:hover {
	background-position: 0 -270px;
}
ul.social-icons li.googleplus {
	background-position: 0 -300px;
}
ul.social-icons li.googleplus:hover {
	background-position: 0 -330px;
}
ul.social-icons li.html5 {
	background-position: 0 -360px;
}
ul.social-icons li.html5:hover {
	background-position: 0 -390px;
}
ul.social-icons li.icloud {
	background-position: 0 -420px;
}
ul.social-icons li.icloud:hover {
	background-position: 0 -450px;
}
ul.social-icons li.lastfm {
	background-position: 0 -480px;
}
ul.social-icons li.lastfm:hover {
	background-position: 0 -510px;
}
ul.social-icons li.linkedin {
	background-position: 0 -540px;
}
ul.social-icons li.linkedin:hover {
	background-position: 0 -570px;
}
ul.social-icons li.myspace {
	background-position: 0 -600px;
}
ul.social-icons li.myspace:hover {
	background-position: 0 -630px;
}
ul.social-icons li.paypal {
	background-position: 0 -660px;
}
ul.social-icons li.paypal:hover {
	background-position: 0 -690px;
}
ul.social-icons li.picasa {
	background-position: 0 -720px;
}
ul.social-icons li.picasa:hover {
	background-position: 0 -750px;
}
ul.social-icons li.pinterest {
	background-position: 0 -780px;
}
ul.social-icons li.pinterest:hover {
	background-position: 0 -810px;
}
ul.social-icons li.reddit {
	background-position: 0 -840px;
}
ul.social-icons li.reddit:hover {
	background-position: 0 -870px;
}
ul.social-icons li.rss {
	background-position: 0 -900px;
}
ul.social-icons li.rss:hover {
	background-position: 0 -930px;
}
ul.social-icons li.skype {
	background-position: 0 -960px;
}
ul.social-icons li.skype:hover {
	background-position: 0 -990px;
}
ul.social-icons li.stumbleupon {
	background-position: 0 -1020px;
}
ul.social-icons li.stumbleupon:hover {
	background-position: 0 -1050px;
}
ul.social-icons li.tumblr {
	background-position: 0 -1080px;
}
ul.social-icons li.tumblr:hover {
	background-position: 0 -1110px;
}
ul.social-icons li.twitter {
	background-position: 0 -1140px;
}
ul.social-icons li.twitter:hover {
	background-position: 0 -1170px;
}
ul.social-icons li.vimeo {
	background-position: 0 -1200px;
}
ul.social-icons li.vimeo:hover {
	background-position: 0 -1230px;
}
ul.social-icons li.wordpress {
	background-position: 0 -1260px;
}
ul.social-icons li.wordpress:hover {
	background-position: 0 -1290px;
}
ul.social-icons li.yahoo {
	background-position: 0 -1320px;
}
ul.social-icons li.yahoo:hover {
	background-position: 0 -1350px;
}
ul.social-icons li.youtube {
	background-position: 0 -1380px;
}
ul.social-icons li.youtube:hover {
	background-position: 0 -1410px;
}
ul.social-icons li.github {
	background-position: 0 -1440px;
}
ul.social-icons li.github:hover {
	background-position: 0 -1470px;
}
ul.social-icons li.behance {
	background-position: 0 -1500px;
}
ul.social-icons li.behance:hover {
	background-position: 0 -1530px;
}
ul.social-icons li.yelp {
	background-position: 0 -1560px;
}
ul.social-icons li.yelp:hover {
	background-position: 0 -1590px;
}
ul.social-icons li.mail {
	background-position: 0 -1620px;
}
ul.social-icons li.mail:hover {
	background-position: 0 -1650px;
}
ul.social-icons li.instagram {
	background-position: 0 -1680px;
}
ul.social-icons li.instagram:hover {
	background-position: 0 -1710px;
}
ul.social-icons li.foursquare {
	background-position: 0 -1740px;
}
ul.social-icons li.foursquare:hover {
	background-position: 0 -1770px;
}
ul.social-icons li.zerply {
	background-position: 0 -1800px;
}
ul.social-icons li.zerply:hover {
	background-position: 0 -1830px;
}
ul.social-icons li.vk {
	background-position: 0 -1860px;
}
ul.social-icons li.vk:hover {
	background-position: 0 -1890px;
}
/* ---------------------------------------------------------------------- */
/*	Navbar Elements
/* ---------------------------------------------------------------------- */
.navbar-default {
	background: rgba(255, 255, 255, 0.9);
	border-color: #E7E7E7;
	height: 90px;
	line-height: 90px;
	min-height: 30px;
}
.ie8 .navbar-default {
	background: #FFFFFF;
	top: 0;
}
.ie8 .navbar-default.space-top {
	top: 40px;
}
body.isMobile .navbar-default {
	position: absolute !important;
}
.navbar-brand img {
	height: 60px;
}
.navbar > .container .navbar-brand {
	padding: 0 10px 0;
	margin-left: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: inherit;
	color: #666666;
}
.navbar > .container .navbar-brand i {
	font-size: 25px;
}
.navbar-nav > li > a {
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	height: 90px;
	line-height: 90px;
	display: block;
	margin-right: 5px;
}
.navbar-default .navbar-nav > li > a {
	color: #808080;
}
.dropdown-menu {
	font-size: inherit;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.dropdown.open > a {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	background: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: none;
	color: #333333;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.navbar-default .navbar-nav > .active > a:before {
	content: "\f0d8";
	display: inline-block;
	font-family: FontAwesome;
	position: absolute;
	text-align: center;
	bottom: 2px;
	width: 100%;
	left: 0;
	line-height: 0;
}
.navbar-default > .container {
	position: relative;
}
.single-menu .navbar-default .navbar-nav > li > a {
	padding-top: 2px !important;
}
.single-menu .navbar-default .navbar-nav > .active > a, .single-menu .navbar-default .navbar-nav > .active > a:hover, .single-menu .navbar-default .navbar-nav > .active > a:focus {
	border-top: 2px solid #007AFF;
	border-bottom: none;
	padding-top: 0 !important;
}
.single-menu .navbar-default .navbar-nav > li > a:hover, .single-menu .navbar-default .navbar-nav > li > a:focus, .single-menu .navbar-default .navbar-nav > li.dropdown.open > a {
	border-bottom: none;
	background: #007AFF;
	color: #ffffff;
}
.single-menu .navbar-default .navbar-nav > .active > a:before {
	content: "\f0d7";
	top: 1px;
	bottom: auto;
}
.single-menu .navbar-default .navbar-nav > li.menu-search > a:hover, .single-menu .navbar-default .navbar-nav > li.menu-search > a:focus, .single-menu .navbar-default .navbar-nav > li.menu-search.dropdown.open > a {
	border-bottom: none;
	background: none;
	color: #808080;
}
.mega-menu .mega-menu-content {
	padding: 20px 30px;
	line-height: normal !important;
}
.mega-menu .mega-menu-content ul.sub-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mega-menu .mega-menu-content ul.sub-menu .mega-menu-sub-title {
	color: #333333;
	display: block;
	font-size: 1em;
	font-weight: 600;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.mega-menu .mega-menu-content ul.sub-menu a {
	display: block;
	font-weight: normal;
	padding: 8px;
	line-height: 23px;
	font-size: 12px;
	height: auto;
	min-height: 23px;
	text-align: left;
	text-decoration: none;
	color: #808080;
}
.mega-menu .mega-menu-content ul.sub-menu a:hover, .mega-menu .mega-menu-content ul.sub-menu a:focus {
	background-color: #F5F5F5;
	color: #262626;
	text-decoration: none;
}
.navbar-nav > li > .dropdown-menu {
	border-top-width: 2px;
	border-top-style: solid;
	margin-top: -2px;
	left: 0;
	right: auto;
}
.menu-search > a:hover, .menu-search > a:focus {
	border-bottom: none !important;
}
/* ---------------------------------------------------------------------- */
/*	Search Box
/* ---------------------------------------------------------------------- */
.search-box {
	border-radius: 0;
	width: 300px;
	line-height: normal;
	right: 0;
	top: auto;
	left: auto;
	bottom: -55px;
}
.search-box .arrow {
	left: auto !important;
	margin-left: 0 !important;
	right: 10px;
	top: -11px;
}
.search-box input {
	background-color: #F8F8F8;
	border-color: #E1E1E1;
	color: #808080;
	border-radius: 0;
	box-shadow: none;
}

/* ---------------------------------------------------------------------- */
/*	Icons
/* ---------------------------------------------------------------------- */
.icons > section {
	margin-top: 20px;
}
.the-icons li {
	line-height: 40px;
}
.the-icons li i {
	transition: font-size 0.2s ease 0s;
}
.the-icons li:hover i {
	font-size: 26px;
}
/* ---------------------------------------------------------------------- */
/*	Buttons
/* ---------------------------------------------------------------------- */
.btn {
	font-family: 'Open Sans';
}
.btn-teal {
	background-color: #569099;
	border-color: #4d8189;
	color: #ffffff;
}
.btn-teal:hover, .btn-teal:focus, .btn-teal:active, .btn-teal.active {
	background-color: #4d8189;
	border-color: #447178;
	color: #ffffff;
}
.btn-teal.disabled:hover, .btn-teal.disabled:focus, .btn-teal.disabled:active, .btn-teal.disabled.active, .btn-teal[disabled]:hover, .btn-teal[disabled]:focus, .btn-teal[disabled]:active, .btn-teal[disabled].active, fieldset[disabled] .btn-teal:hover, fieldset[disabled] .btn-teal:focus, fieldset[disabled] .btn-teal:active, fieldset[disabled] .btn-teal.active {
	background-color: #569099;
	border-color: #569099;
	color: #ffffff;
}

.btn-beige {
	background-color: #cc9;
	border-color: #c4c488;
	color: #ffffff;
}
.btn-beige:hover, .btn-beige:focus, .btn-beige:active, .btn-beige.active {
	background-color: #c4c488;
	border-color: #bbbb77;
	color: #ffffff;
}
.btn-beige.disabled:hover, .btn-beige.disabled:focus, .btn-beige.disabled:active, .btn-beige.disabled.active, .btn-beige[disabled]:hover, .btn-beige[disabled]:focus, .btn-beige[disabled]:active, .btn-beige[disabled].active, fieldset[disabled] .btn-beige:hover, fieldset[disabled] .btn-beige:focus, fieldset[disabled] .btn-beige:active, fieldset[disabled] .btn-beige.active {
	background-color: #cc9;
	border-color: #cc9;
	color: #ffffff;
}
.btn-dark-beige {
	background-color: #afaa6d;
	border-color: #a6a05d;
	color: #ffffff;
}
.btn-dark-beige:hover, .btn-dark-beige:focus, .btn-dark-beige:active, .btn-dark-beige.active {
	background-color: #a6a05d;
	border-color: #979152;
	color: #ffffff;
}
.btn-dark-beige.disabled:hover, .btn-dark-beige.disabled:focus, .btn-dark-beige.disabled:active, .btn-dark-beige.disabled.active, .btn-dark-beige[disabled]:hover, .btn-dark-beige[disabled]:focus, .btn-dark-beige[disabled]:active, .btn-dark-beige[disabled].active, fieldset[disabled] .btn-dark-beige:hover, fieldset[disabled] .btn-dark-beige:focus, fieldset[disabled] .btn-dark-beige:active, fieldset[disabled] .btn-dark-beige.active {
	background-color: #afaa6d;
	border-color: #afaa6d;
	color: #ffffff;
}
.btn-orange {
	background-color: #e6674a;
	border-color: #e35434;
	color: #ffffff;
}
.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active {
	background-color: #e35434;
	border-color: #de421f;
	color: #ffffff;
}
.btn-orange.disabled:hover, .btn-orange.disabled:focus, .btn-orange.disabled:active, .btn-orange.disabled.active, .btn-orange[disabled]:hover, .btn-orange[disabled]:focus, .btn-orange[disabled]:active, .btn-orange[disabled].active, fieldset[disabled] .btn-orange:hover, fieldset[disabled] .btn-orange:focus, fieldset[disabled] .btn-orange:active, fieldset[disabled] .btn-orange.active {
	background-color: #e6674a;
	border-color: #e6674a;
	color: #ffffff;
}
.btn-purple {
	background-color: #57517b;
	border-color: #413d5c;
	color: #ffffff;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active {
	background-color: #4c476c;
	border-color: #413d5c;
	color: #ffffff;
}
.btn-purple.disabled:hover, .btn-purple.disabled:focus, .btn-purple.disabled:active, .btn-purple.disabled.active, .btn-purple[disabled]:hover, .btn-purple[disabled]:focus, .btn-purple[disabled]:active, .btn-purple[disabled].active, fieldset[disabled] .btn-purple:hover, fieldset[disabled] .btn-purple:focus, fieldset[disabled] .btn-purple:active, fieldset[disabled] .btn-purple.active {
	background-color: #57517b;
	border-color: #333;
	color: #ffffff;
}

.btn-dark-grey {
	background-color: #333;
	border-color: #333;
	color: #ffffff;
}
.btn-dark-grey:hover, .btn-dark-grey:focus, .btn-dark-grey:active, .btn-dark-grey.active {
	background-color: #262626;
	border-color: #1a1a1a;
	color: #ffffff;
}
.btn-dark-grey.disabled:hover, .btn-dark-grey.disabled:focus, .btn-dark-grey.disabled:active, .btn-dark-grey.disabled.active, .btn-dark-grey[disabled]:hover, .btn-dark-grey[disabled]:focus, .btn-dark-grey[disabled]:active, .btn-dark-grey[disabled].active, fieldset[disabled] .btn-dark-grey:hover, fieldset[disabled] .btn-dark-grey:focus, fieldset[disabled] .btn-dark-grey:active, fieldset[disabled] .btn-dark-grey.active {
	background-color: #333;
	border-color: #333;
	color: #ffffff;
}
.btn-med-grey {
	background-color: #666;
	border-color: #595959;
	color: #ffffff;
}
.btn-med-grey:hover, .btn-med-grey:focus, .btn-med-grey:active, .btn-med-grey.active {
	background-color: #595959;
	border-color: #4d4d4d;
	color: #ffffff;
}
.btn-med-grey.disabled:hover, .btn-med-grey.disabled:focus, .btn-med-grey.disabled:active, .btn-med-grey.disabled.active, .btn-med-grey[disabled]:hover, .btn-med-grey[disabled]:focus, .btn-med-grey[disabled]:active, .btn-med-grey[disabled].active, fieldset[disabled] .btn-med-grey:hover, fieldset[disabled] .btn-med-grey:focus, fieldset[disabled] .btn-med-grey:active, fieldset[disabled] .btn-med-grey.active {
	background-color: #666;
	border-color: #666;
	color: #ffffff;
}
.btn-light-grey {
	background-color: #999;
	border-color: #8c8c8c;
	color: #ffffff;
}
.btn-light-grey:hover, .btn-light-grey:focus, .btn-light-grey:active, .btn-light-grey.active {
	background-color: #8c8c8c;
	border-color: #808080;
	color: #ffffff;
}
.btn-light-grey.disabled:hover, .btn-light-grey.disabled:focus, .btn-light-grey.disabled:active, .btn-light-grey.disabled.active, .btn-light-grey[disabled]:hover, .btn-light-grey[disabled]:focus, .btn-light-grey[disabled]:active, .btn-light-grey[disabled].active, fieldset[disabled] .btn-light-grey:hover, fieldset[disabled] .btn-light-grey:focus, fieldset[disabled] .btn-light-grey:active, fieldset[disabled] .btn-light-grey.active {
	background-color: #999;
	border-color: #999;
	color: #ffffff;
}
.btn-bricky {
	background-color: #C83A2A;
	border-color: #b33426;
	color: #ffffff;
}
.btn-bricky:hover, .btn-bricky:focus, .btn-bricky:active, .btn-bricky.active {
	background-color: #b33426;
	border-color: #9e2e21;
	color: #ffffff;
}
.btn-bricky.disabled:hover, .btn-bricky.disabled:focus, .btn-bricky.disabled:active, .btn-bricky.disabled.active, .btn-bricky[disabled]:hover, .btn-bricky[disabled]:focus, .btn-bricky[disabled]:active, .btn-bricky[disabled].active, fieldset[disabled] .btn-bricky:hover, fieldset[disabled] .btn-bricky:focus, fieldset[disabled] .btn-bricky:active, fieldset[disabled] .btn-bricky.active {
	background-color: #C83A2A;
	border-color: #C83A2A;
	color: #ffffff;
}
.btn-green {
	background-color: #3D9400;
	border-color: #327b00;
	color: #ffffff;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active {
	background-color: #327b00;
	border-color: #286100;
	color: #ffffff;
}
.btn-green.disabled:hover, .btn-green.disabled:focus, .btn-green.disabled:active, .btn-green.disabled.active, .btn-green[disabled]:hover, .btn-green[disabled]:focus, .btn-green[disabled]:active, .btn-green[disabled].active, fieldset[disabled] .btn-green:hover, fieldset[disabled] .btn-green:focus, fieldset[disabled] .btn-green:active, fieldset[disabled] .btn-green.active {
	background-color: #3D9400;
	border-color: #3D9400;
	color: #ffffff;
}
.btn-blue {
	background-color: #364F6A;
	border-color: #2d4259;
	color: #ffffff;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active {
	background-color: #2d4259;
	border-color: #253648;
	color: #ffffff;
}
.btn-blue.disabled:hover, .btn-blue.disabled:focus, .btn-blue.disabled:active, .btn-blue.disabled.active, .btn-blue[disabled]:hover, .btn-blue[disabled]:focus, .btn-blue[disabled]:active, .btn-blue[disabled].active, fieldset[disabled] .btn-blue:hover, fieldset[disabled] .btn-blue:focus, fieldset[disabled] .btn-blue:active, fieldset[disabled] .btn-blue.active {
	background-color: #364F6A;
	border-color: #364F6A;
	color: #ffffff;
}

.btn-yellow {
	background-color: #FFB848;
	border-color: #ffae2f;
	color: #ffffff;
}
.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active, .btn-yellow.active {
	background-color: #ffae2f;
	border-color: #ffa415;
	color: #ffffff;
}
.btn-yellow.disabled:hover, .btn-yellow.disabled:focus, .btn-yellow.disabled:active, .btn-yellow.disabled.active, .btn-yellow[disabled]:hover, .btn-yellow[disabled]:focus, .btn-yellow[disabled]:active, .btn-yellow[disabled].active, fieldset[disabled] .btn-yellow:hover, fieldset[disabled] .btn-yellow:focus, fieldset[disabled] .btn-yellow:active, fieldset[disabled] .btn-yellow.active {
	background-color: #FFB848;
	border-color: #FFB848;
	color: #ffffff;
}
.btn-red {
	background-color: #E02222;
	border-color: #cc1d1d;
	color: #ffffff;
}
.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active {
	background-color: #cc1d1d;
	border-color: #b61919;
	color: #ffffff;
}
.btn-red.disabled:hover, .btn-red.disabled:focus, .btn-red.disabled:active, .btn-red.disabled.active, .btn-red[disabled]:hover, .btn-red[disabled]:focus, .btn-red[disabled]:active, .btn-red[disabled].active, fieldset[disabled] .btn-red:hover, fieldset[disabled] .btn-red:focus, fieldset[disabled] .btn-red:active, fieldset[disabled] .btn-red.active {
	background-color: #E02222;
	border-color: #E02222;
	color: #ffffff;
}
.btn-teal .caret, .btn-beige .caret, .btn-dark-beige .caret, .btn-orange .caret, .btn-purple .caret, .btn-dark-grey .caret, .btn-med-grey .caret, .btn-light-grey .caret, .btn-bricky .caret, .btn-green .caret, .btn-blue .caret, .btn-yellow .caret, .btn-red .caret {
	border-top-color: #ffffff;
}
.dropup .btn-teal .caret, .dropup .btn-beige .caret, .dropup .btn-dark-beige .caret, .dropup .btn-orange .caret, .dropup .btn-purple .caret, .dropup .btn-dark-grey .caret, .dropup .btn-med-grey .caret, .dropup .btn-light-grey .caret, .dropup .btn-bricky .caret, .dropup .btn-green .caret, .dropup .btn-blue .caret, .dropup .btn-yellow .caret, .dropup .btn-red .caret {
	border-bottom: 4px solid #FFFFFF;
}
.btn-squared {
	border-radius: 0 !important;
}
.btn {
	transition: all 0.3s ease 0s !important;
}
.btn-icon {
	background-color: #EFEFEF;
	background-image: -moz-linear-gradient(center top , #FAFAFA, #EFEFEF);
	border: 1px solid #DDDDDD;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	cursor: pointer;
	height: 80px;
	display: block;
	font-size: 14px;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 5px 0 0;
	position: relative;
	text-align: center;
	transition: all 0.3s ease 0s;
	color: #333333;
}
.btn-icon:hover {
	border-color: #A5A5A5;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	color: #444444;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFFFFF;
}
.btn-icon .badge {
	border-radius: 12px 12px 12px 12px !important;
	border-style: solid;
	border-width: 0;
	box-shadow: none;
	color: #FFFFFF !important;
	font-family: 'Open Sans';
	font-size: 11px !important;
	font-weight: 300;
	padding: 3px 7px;
	position: absolute;
	right: -5px;
	text-shadow: none;
	top: -5px;
}
.btn-icon [class^="fa-"], .btn-icon [class*=" fa-"], .btn-icon [class^="clip-"], .btn-icon [class*=" clip-"] {
	clear: both;
	display: block;
}
.buttons-widget .btn, .buttons-widget .make-switch {
	margin-bottom: 5px;
}
.buttons-widget .btn-group-vertical .btn {
	margin-bottom: 0;
}
/* ---------------------------------------------------------------------- */
/*	Labels and Badges
/* ---------------------------------------------------------------------- */
.badge-success {
	background-color: #5CB85C;
}
.badge-success[href]:hover, .badge-success[href]:focus {
	background-color: #449D44;
}
.badge-warning {
	background-color: #F0AD4E;
}
.badge-warning[href]:hover, .badge-warning[href]:focus {
	background-color: #EC971F;
}
.badge-info {
	background-color: #5BC0DE;
}
.badge-info[href]:hover, .badge-info[href]:focus {
	background-color: #31B0D5;
}
.badge-danger {
	background-color: #D9534F;
}
.badge-danger[href]:hover, .badge-danger[href]:focus {
	background-color: #C9302C;
}
.badge-new {
	background-color: #007AFF;
	border-radius: 12px 12px 12px 12px !important;
	font-size: 11px !important;
	font-weight: 300;
	height: 18px;
	padding: 3px 6px;
	text-align: center;
	text-shadow: none !important;
	vertical-align: middle;
}
.label {
	font-size: 85% !important;
	padding: 0.4em 0.6em !important;
}
.label-inverse, .badge-inverse {
	background-color: #555555;
}

/* ---------------------------------------------------------------------- */
/*	Home elements
/* ---------------------------------------------------------------------- */
.circle-icon {
	background-color: #333333;
	border-radius: 75px 75px 75px 75px;
	color: #FFFFFF;
	margin-top: 2px;
	text-align: center;
	height: 55px;
	line-height: 56px;
	width: 55px;
	display: inline-block;
	font-size: 24px !important;
}
.circle-icon.circle-green {
	background-color: #3D9400;
	border-color: #327B00;
	color: #FFFFFF;
}
.circle-icon.circle-blue {
	background-color: #007AFF;
	border-color: #007AFF;
	color: #FFFFFF;
}
.circle-icon.circle-teal {
	background-color: #569099;
	border-color: #4D8189;
	color: #FFFFFF;
}
.circle-icon.circle-bricky {
	background-color: #C83A2A;
	border-color: #b33426;
	color: #ffffff;
}
.core-box {
	display: inline-block;
	padding-bottom: 50px;
	padding-top: 50px;
}
.core-box .heading {
	margin-bottom: 15px;
}
.core-box .heading .circle-icon {
	float: left;
}

.core-box .heading h2 {
	line-height: 55px !important;
	margin: 0;
	padding-left: 65px;
	font-weight: normal;
	color: #666666;
	font-size: 18px;
}
.core-box .content {
	color: #747474 !important;
	line-height: 20px;
	margin-bottom: 15px;
}
.core-box .view-more {
	float: right;
}
.core-box .view-more i {
	display: inline-block;
}
.core-box .view-more:hover {
	text-decoration: none;
}
.grid-container {
	margin-top: 50px;
}
.grid-item {
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
	position: relative;
	margin-bottom: 15px;
}
.grid-content {
	background-color: #FFFFFF;
	color: #666666;
	padding: 15px;
	position: relative;
}
.grid-content:before {
	content: "\f0d8";
	display: inline-block;
	font-family: FontAwesome;
	position: absolute;
	text-align: center;
	top: -3px;
	width: 100%;
	left: 0;
	line-height: 0;
	color: #ffffff;
}
.grid-image {
	position: relative;
}
.grid-image .imgdokter{
	height: 280px;
}
/* ---------------------------------------------------------------------- */
/*	Image Overlay
/* ---------------------------------------------------------------------- */
.image-overlay {
	background: #FFFFFF;
	height: 100%;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 500;
	left: 0;
	top: 0;
	text-align: center;
}
.ie8 .image-overlay {
	filter: alpha(opacity = 0);
}
.image-overlay .circle-icon {
	height: 80px;
	line-height: 80px;
	margin: -40px 0 0 0;
	position: relative;
	text-align: center;
	top: 50%;
	width: 80px;
	z-index: 500;
}
.image-overlay .circle-icon.circle-small {
	height: 50px;
	line-height: 50px;
	margin: -25px 0 0 0;
	width: 50px;
	position: relative;
}
.isMobile .image-overlay {
	display: none;
}
.isMobile .team-list .image-overlay {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0 0 3px 3px;
	bottom: 0;
	font-size: 15px;
	height: 60px;
	left: 0;
	opacity: 1;
	position: relative;
	right: 0;
	text-align: center;
	top: auto;
	visibility: visible;
	z-index: 1;
	display: inline-block;
}
.isMobile .team-list .image-overlay:hover {
	opacity: 0.7;
}
.isMobile .team-list .image-overlay .circle-icon {
	height: 50px;
	line-height: 50px;
	margin: 4px 0 0 0;
	position: relative;
	text-align: center;
	top: auto;
	width: 50px;
	z-index: 500;
}
/* ---------------------------------------------------------------------- */
/*	Icon List
/* ---------------------------------------------------------------------- */
.icon-list {
	list-style: none;
	margin: 0;
	margin-left: 5%;
	padding: 0;
}
.icon-list-content {
	padding-left: 80px;
}
.icon-list li {
	position: relative;
	margin: 0;
	padding: 0 0 30px 0;
	display: inline-block;
}
.icon-list .circle-icon {
	float: left;
	z-index: 5;
	position: relative;
}
.icon-list .timeline {
	border-right-style: dashed;
	border-right-width: 1px;
	border-color: #D0D0D0;
	height: 99%;
	left: 27px;
	position: absolute;
	top: 1%;
	width: 1px;
}
.icon-list li:last-child .timeline {
	display: none;
}
/* ---------------------------------------------------------------------- */
/*	Flexslider Elements
/* ---------------------------------------------------------------------- */
.slides li {
	position: relative;
}
#carousel li {
	margin-right: 5px;
}
#carousel li img {
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #D0D0D0;
	cursor: pointer;
}

.flex-direction-nav a:before {
	font-size: 20px !important;
}
.flex-control-paging li a.flex-active {
	background: rgba(0, 0, 0, 0.4) !important;
}
.flex-control-paging li a {
	background: rgba(0, 0, 0, 0.2) !important;
}
.flex-control-nav {
	bottom: auto !important;
	margin-top: 10px !important;
	position: relative !important;
}

.flexslider {
	background: url("assets/") no-repeat scroll center center #FFFFFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	position: relative;
}
#carousel {
	margin-top: 5px;
}
div.flexslider {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
}
.flex-direction-nav a {
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: color 0 ease-in !important;
	transition: none !important;
	background: #222222;
	border: none;
	font-weight: normal;
	margin: 0;
	opacity: 0.5;
	width: 26px !important;
	height: 26px !important;
	line-height: 26px;
	color: #FFFFFF !important;
	text-align: center !important;
	text-shadow: none !important;
}
.flex-direction-nav a.flex-next {
	right: 10px !important;
	font-size: 9px;
}
.flex-direction-nav a.flex-next:before {
	font-family: "fontawesome" !important;
	content: "\f105" !important;
}
.flex-direction-nav a.flex-prev {
	left: 10px !important;
	font-size: 9px;
}
.flex-direction-nav a.flex-prev:before {
	font-family: "fontawesome" !important;
	content: "\f104" !important;
}
/* ---------------------------------------------------------------------- */
/*	Tabs
/* ---------------------------------------------------------------------- */
.tabbable {
	margin-bottom: 15px;
}
.nav-tabs {
	border-color: #DDDDDD;
	margin-bottom: 0;
	margin-left: 0;
	position: relative;
	top: 1px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	z-index: 12;
}

.nav-tabs > li:first-child > a {
	margin-left: 0;
}
.nav-tabs > li > a:hover {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	color: #4C8FBD;
}
.nav-tabs > li > a, .nav-tabs > li > a:focus {
	background-color: #F9F9F9;
	border-color: #DDDDDD;
	border-radius: 0 0 0 0 !important;
	color: #999999;
	line-height: 16px;
	margin-right: -1px;
	position: relative;
}
.tab-content {
	border: 1px solid #DDDDDD;
	padding: 16px 12px;
	position: relative;
}
.tabs-below > .nav-tabs {
	border-bottom-width: 0;
	border-color: #DDDDDD;
	margin-bottom: 0;
	margin-top: -1px;
	top: auto;
}
.tabs-below > .nav-tabs > li > a, .tabs-below > .nav-tabs > li > a:hover, .tabs-below > .nav-tabs > li > a:focus {
	border-color: #DDDDDD;
}
.tabs-below > .nav-tabs > li.active > a, .tabs-below > .nav-tabs > li.active > a:hover, .tabs-below > .nav-tabs > li.active > a:focus {
	border-bottom: 2px solid #DDDDDD;
	border-color: transparent #DDDDDD #DDDDDD;
	border-top-width: 1px;
	margin-top: 0;
}
.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
	min-width: 60px;
}
.tabs-left > .nav-tabs {
	border-color: #DDDDDD;
	float: left;
	margin-bottom: 0;
	top: auto;
}
.tabs-left > .nav-tabs > li {
	float: none;
}
.tabs-left > .nav-tabs > li > a, .tabs-left > .nav-tabs > li > a:focus, .tabs-left > .nav-tabs > li > a:hover {
	border-color: #DDDDDD;
	margin: 0 -1px 0 0;
}
.tabs-left > .nav-tabs > li.active > a, .tabs-left > .nav-tabs > li.active > a:focus, .tabs-left > .nav-tabs > li.active > a:hover {
	border-color: #DDDDDD;
	border-right: none;
	border-left: 2px solid #DDDDDD;
	border-top-width: 1px;
	margin: 0 -1px;
}
.tabs-right > .nav-tabs {
	border-color: #DDDDDD;
	float: right;
	margin-bottom: 0;
	top: auto;
}
.tabs-right > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a:focus, .tabs-right > .nav-tabs > li > a:hover {
	border-color: #DDDDDD;
	margin: 0 -1px;
}
.tabs-right > .nav-tabs > li.active > a, .tabs-right > .nav-tabs > li.active > a:focus, .tabs-right > .nav-tabs > li.active > a:hover {
	border-color: #DDDDDD;
	border-left: none;
	border-right: 2px solid #DDDDDD;
	border-top-width: 1px;
	margin: 0 -2px 0 -1px;
}
.nav-tabs > li > a > .badge {
	line-height: 8px;
	opacity: 0.7;
}
.nav-tabs > li > a > [class*="fa-"] {
	opacity: 0.75;
}
.nav-tabs > li.active > a > .badge, .nav-tabs > li.active > a > [class*="fa-"] {
	opacity: 1;
}
.nav-tabs li [class*=" fa-"], .nav-tabs li [class^="fa-"] {
	display: inline-block;
	text-align: center;
	width: 1.25em;
}
.nav-tabs > li.open .dropdown-toggle {
	background-color: #4F99C6;
	border-color: #4F99C6;
	color: #FFFFFF;
}
.nav-tabs > li.open .dropdown-toggle > [class*="fa-"] {
	color: #FFFFFF !important;
	opacity: 1;
}
.tabs-left .tab-content, .tabs-right .tab-content {
	overflow: auto;
}
/*teal*/
.tab-teal > li.active > a, .tab-teal > li.active > a:hover, .tab-teal > li.active > a:focus {
	border-color: #DDDDDD;
	border-top: 2px solid #569099;
}
.tab-teal > li > a:hover {
	color: #569099;
}
.tab-teal > li.dropdown.open.active > a:hover, .tab-teal > li.dropdown.open.active > a:focus {
	background-color: #569099;
	border-color: #569099;
	color: #FFFFFF;
}
.tab-teal > li.open .dropdown-toggle {
	background-color: #569099;
	border-color: #569099;
	color: #FFFFFF;
}
.tab-teal .dropdown-menu > li > a:hover, .tab-teal .dropdown-menu > li > a:focus {
	background-color: #569099;
}
.tab-teal .active > a, .tab-teal .active > a:hover, .tab-teal .active > a:focus {
	background-color: #569099;
}
.tabs-left > .tab-teal > li.active > a, .tabs-left > .tab-teal > li.active > a:focus, .tabs-left > .tab-teal > li.active > a:hover {
	border-color: #DDDDDD;
	border-right: none;
	border-left: 2px solid #569099;
}
.tabs-below > .tab-teal > li.active > a, .tabs-below > .tab-teal > li.active > a:hover, .tabs-below > .tab-teal > li.active > a:focus {
	border-color: #DDDDDD;
	border-top: none;
	border-bottom: 2px solid #569099;
}
.tabs-right > .tab-teal > li.active > a, .tabs-right > .tab-teal > li.active > a:focus, .tabs-right > .tab-teal > li.active > a:hover {
	border-color: #DDDDDD;
	border-left: none;
	border-right: 2px solid #569099;
}
.tab-padding.tab-teal > li > a, .tab-padding.tab-teal > li > a:focus, .tab-padding.tab-teal > li > a:hover {
	border-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}
.tab-padding.tab-teal > li:not(.active) > a:hover {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) transparent;
	opacity: 0.85;
}
.tab-padding.tab-teal > li:not(.active) > a > [class*="fa-"]:first-child {
	color: #FFFFFF !important;
}
.tab-padding.tab-teal > li:not(.active) > a > .badge {
	background-color: #FFFFFF !important;
	color: rgba(0, 0, 0, 0.4) !important;
}
.tab-padding.tab-teal > li > a, .tab-padding.tab-teal > li > a:focus {
	background-color: #7DAFB7;
}
.tab-padding.tab-teal > li.active > a, .tab-padding.tab-teal > li.active > a:focus, .tab-padding.tab-teal > li.active > a:hover {
	background-color: #FFFFFF;
	box-shadow: none;
	color: #4F80A0;
}
.tab-padding.tab-teal > li.active > a, .tab-padding.tab-teal > li.active > a:focus, .tab-padding.tab-teal > li.active > a:hover {
	border-color: #569099 #DDDDDD transparent;
	color: #4D8189;
}
.tabs-below .tab-padding.tab-teal > li.active > a {
	border-color: transparent #7DB4D8 #7DB4D8;
}
.tab-padding.tab-teal {
	border-bottom-color: #569099;
	background-color: #F3F8F8;
}
.tabs-below .nav-tabs.tab-teal {
	padding-bottom: 6px;
	border-bottom-color: #DDDDDD;
	border-top: 0 none;
}
/*bricky*/
.tab-bricky > li.active > a, .tab-bricky > li.active > a:hover, .tab-bricky > li.active > a:focus {
	border-color: #C83A2A #DDDDDD transparent;
	border-top: 2px solid #C83A2A;
}
.tab-bricky > li > a:hover {
	color: #C83A2A;
}
.tab-bricky > li.dropdown.open.active > a:hover, .tab-bricky > li.dropdown.open.active > a:focus {
	background-color: #C83A2A;
	border-color: #C83A2A;
	color: #FFFFFF;
}
.tab-bricky > li.open .dropdown-toggle {
	background-color: #C83A2A;
	border-color: #C83A2A;
	color: #FFFFFF;
}
.tab-bricky .dropdown-menu > li > a:hover, .tab-bricky .dropdown-menu > li > a:focus {
	background-color: #C83A2A;
}
.tab-bricky .active > a, .tab-bricky .active > a:hover, .tab-bricky .active > a:focus {
	background-color: #C83A2A;
}
.tabs-left > .tab-bricky > li.active > a, .tabs-left > .tab-bricky > li.active > a:focus, .tabs-left > .tab-bricky > li.active > a:hover {
	border-color: #DDDDDD transparent #DDDDDD #C83A2A;
	border-left: 2px solid #C83A2A;
}
.tabs-below > .tab-bricky > li.active > a, .tabs-below > .tab-bricky > li.active > a:hover, .tabs-below > .tab-bricky > li.active > a:focus {
	border-bottom: 2px solid #C83A2A;
	border-color: transparent #DDDDDD #C83A2A;
}
.tabs-right > .tab-bricky > li.active > a, .tabs-right > .tab-bricky > li.active > a:focus, .tabs-right > .tab-bricky > li.active > a:hover {
	border-color: #DDDDDD #C83A2A #DDDDDD transparent;
	border-right: 2px solid #C83A2A;
}
.tab-padding.tab-bricky > li > a, .tab-padding.tab-bricky > li > a:focus, .tab-padding.tab-bricky > li > a:hover {
	border-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}
.tab-padding.tab-bricky > li:not(.active) > a:hover {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) transparent;
	opacity: 0.85;
}
.tab-padding.tab-bricky > li:not(.active) > a > [class*="fa-"]:first-child {
	color: #FFFFFF !important;
}
.tab-padding.tab-bricky > li:not(.active) > a > .badge {
	background-color: #FFFFFF !important;
	color: rgba(0, 0, 0, 0.4) !important;
}
.tab-padding.tab-bricky > li > a, .tab-padding.tab-bricky > li > a:focus {
	background-color: #DC6456;
}

.tab-padding.tab-bricky > li.active > a, .tab-padding.tab-bricky > li.active > a:focus, .tab-padding.tab-bricky > li.active > a:hover {
	background-color: #FFFFFF;
	box-shadow: none;
	color: #333333;
}
.tab-padding.tab-bricky > li.active > a, .tab-padding.tab-bricky > li.active > a:focus, .tab-padding.tab-teal > li.active > a:hover {
	border-color: #C83A2A #DDDDDD transparent;
	color: #333333;
}
.tabs-below .tab-padding.tab-bricky > li.active > a {
	border-color: transparent #C83A2A #DDDDDD;
}
.tab-padding.tab-bricky {
	border-bottom-color: #C83A2A;
	background-color: #FBEEEC;
}
.tabs-below .nav-tabs.tab-bricky {
	padding-bottom: 6px;
	border-bottom-color: #DDDDDD;
	border-top: 0 none;
}
/*green*/
.tab-green > li.active > a, .tab-green > li.active > a:hover, .tab-green > li.active > a:focus {
	border-color: #3D9400 #DDDDDD transparent;
	border-top: 2px solid #3D9400;
}
.tab-green > li > a:hover {
	color: #3D9400;
}
.tab-green > li.dropdown.open.active > a:hover, .tab-green > li.dropdown.open.active > a:focus {
	background-color: #3D9400;
	border-color: #3D9400;
	color: #FFFFFF;
}
.tab-green > li.open .dropdown-toggle {
	background-color: #3D9400;
	border-color: #3D9400;
	color: #FFFFFF;
}
.tab-green .dropdown-menu > li > a:hover, .tab-green .dropdown-menu > li > a:focus {
	background-color: #3D9400;
}
.tab-green .active > a, .tab-green .active > a:hover, .tab-green .active > a:focus {
	background-color: #3D9400;
}
.tabs-left > .tab-green > li.active > a, .tabs-left > .tab-green > li.active > a:focus, .tabs-left > .tab-green > li.active > a:hover {
	border-color: #DDDDDD transparent #DDDDDD #3D9400;
	border-left: 2px solid #3D9400;
}
.tabs-below > .tab-green > li.active > a, .tabs-below > .tab-green > li.active > a:hover, .tabs-below > .tab-green > li.active > a:focus {
	border-bottom: 2px solid #3D9400;
	border-color: transparent #DDDDDD #3D9400;
}
.tabs-right > .tab-green > li.active > a, .tabs-right > .tab-green > li.active > a:focus, .tabs-right > .tab-green > li.active > a:hover {
	border-color: #DDDDDD #3D9400 #DDDDDD transparent;
	border-right: 2px solid #3D9400;
}
.tab-padding.tab-green > li > a, .tab-padding.tab-green > li > a:focus, .tab-padding.tab-green > li > a:hover {
	border-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}
.tab-padding.tab-green > li:not(.active) > a:hover {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) transparent;
	opacity: 0.85;
}
.tab-padding.tab-green > li:not(.active) > a > [class*="fa-"]:first-child {
	color: #FFFFFF !important;
}
.tab-padding.tab-green > li:not(.active) > a > .badge {
	background-color: #FFFFFF !important;
	color: rgba(0, 0, 0, 0.4) !important;
}
.tab-padding.tab-green > li > a, .tab-padding.tab-green > li > a:focus {
	background-color: #71B145;
}
/*purple*/
.tab-purple > li.active > a, .tab-purple > li.active > a:hover, .tab-purple > li.active > a:focus {
	border-color: #57517B #DDDDDD transparent;
	border-top: 2px solid #57517B;
}
.tab-purple > li > a:hover {
	color: #57517B;
}
.tab-purple > li.dropdown.open.active > a:hover, .tab-purple > li.dropdown.open.active > a:focus {
	background-color: #57517B;
	border-color: #57517B;
	color: #FFFFFF;
}
.tab-purple > li.open .dropdown-toggle {
	background-color: #57517B;
	border-color: #57517B;
	color: #FFFFFF;
}
.tab-purple .dropdown-menu > li > a:hover, .tab-purple .dropdown-menu > li > a:focus {
	background-color: #57517B;
}
.tab-purple .active > a, .tab-purple .active > a:hover, .tab-purple .active > a:focus {
	background-color: #57517B;
}
.tabs-left > .tab-purple > li.active > a, .tabs-left > .tab-purple > li.active > a:focus, .tabs-left > .tab-purple > li.active > a:hover {
	border-color: #DDDDDD transparent #DDDDDD #57517B;
	border-left: 2px solid #57517B;
}
.tabs-below > .tab-purple > li.active > a, .tabs-below > .tab-purple > li.active > a:hover, .tabs-below > .tab-purple > li.active > a:focus {
	border-bottom: 2px solid #57517B;
	border-color: transparent #DDDDDD #57517B;
}
.tabs-right > .tab-purple > li.active > a, .tabs-right > .tab-purple > li.active > a:focus, .tabs-right > .tab-purple > li.active > a:hover {
	border-color: #DDDDDD #57517B #DDDDDD transparent;
	border-right: 2px solid #57517B;
}
.tab-padding.tab-purple > li > a, .tab-padding.tab-purple > li > a:focus, .tab-padding.tab-purple > li > a:hover {
	border-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}
.tab-padding.tab-purple > li:not(.active) > a:hover {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) transparent;
	opacity: 0.85;
}
.tab-padding.tab-purple > li:not(.active) > a > [class*="fa-"]:first-child {
	color: #FFFFFF !important;
}
.tab-padding.tab-purple > li:not(.active) > a > .badge {
	background-color: #FFFFFF !important;
	color: rgba(0, 0, 0, 0.4) !important;
}
.tab-padding.tab-purple > li > a, .tab-padding.tab-purple > li > a:focus {
	background-color: #84809F;
}

.tab-padding.tab-purple > li.active > a, .tab-padding.tab-purple > li.active > a:focus, .tab-padding.tab-purple > li.active > a:hover {
	background-color: #FFFFFF;
	box-shadow: none;
	color: #333333;
}
.tab-padding.tab-purple > li.active > a, .tab-padding.tab-purple > li.active > a:focus, .tab-padding.tab-teal > li.active > a:hover {
	border-color: #57517B #DDDDDD transparent;
	color: #333333;
}
.tabs-below .tab-padding.tab-purple > li.active > a {
	border-color: transparent #57517B #DDDDDD;
}
.tab-padding.tab-purple {
	border-bottom-color: #57517B;
	background-color: #F5F4F9;
}
.tabs-below .nav-tabs.tab-purple {
	padding-bottom: 6px;
	border-bottom-color: #DDDDDD;
	border-top: 0 none;
}
.tab-padding.tab-green > li.active > a, .tab-padding.tab-green > li.active > a:focus, .tab-padding.tab-green > li.active > a:hover {
	background-color: #FFFFFF;
	box-shadow: none;
	color: #333333;
}
.tab-padding.tab-green > li.active > a, .tab-padding.tab-green > li.active > a:focus, .tab-padding.tab-teal > li.active > a:hover {
	border-color: #3D9400 #DDDDDD transparent;
	color: #333333;
}
.tabs-below .tab-padding.tab-green > li.active > a {
	border-color: transparent #3D9400 #DDDDDD;
}
.tab-padding.tab-green {
	border-bottom-color: #3D9400;
	background-color: #EFFBEC;
}
.tabs-below .nav-tabs.tab-green {
	padding-bottom: 6px;
	border-bottom-color: #DDDDDD;
	border-top: 0 none;
}
/*blue*/
.tab-blue > li.active > a, .tab-blue > li.active > a:hover, .tab-blue > li.active > a:focus {
	border-color: #364F6A #DDDDDD transparent;
	border-top: 2px solid #364F6A;
}
.tab-blue > li > a:hover {
	color: #364F6A;
}
.tab-blue > li.dropdown.open.active > a:hover, .tab-blue > li.dropdown.open.active > a:focus {
	background-color: #364F6A;
	border-color: #364F6A;
	color: #FFFFFF;
}
.tab-blue > li.open .dropdown-toggle {
	background-color: #364F6A;
	border-color: #364F6A;
	color: #FFFFFF;
}
.tab-blue .dropdown-menu > li > a:hover, .tab-blue .dropdown-menu > li > a:focus {
	background-color: #364F6A;
}
.tab-blue .active > a, .tab-blue .active > a:hover, .tab-blue .active > a:focus {
	background-color: #364F6A;
}
.tabs-left > .tab-blue > li.active > a, .tabs-left > .tab-blue > li.active > a:focus, .tabs-left > .tab-blue > li.active > a:hover {
	border-color: #DDDDDD transparent #DDDDDD #364F6A;
	border-left: 2px solid #364F6A;
}
.tabs-below > .tab-blue > li.active > a, .tabs-below > .tab-blue > li.active > a:hover, .tabs-below > .tab-blue > li.active > a:focus {
	border-bottom: 2px solid #364F6A;
	border-color: transparent #DDDDDD #364F6A;
}
.tabs-right > .tab-blue > li.active > a, .tabs-right > .tab-blue > li.active > a:focus, .tabs-right > .tab-blue > li.active > a:hover {
	border-color: #DDDDDD #364F6A #DDDDDD transparent;
	border-right: 2px solid #364F6A;
}
.tab-padding.tab-blue > li > a, .tab-padding.tab-blue > li > a:focus, .tab-padding.tab-blue > li > a:hover {
	border-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}
.tab-padding.tab-blue > li:not(.active) > a:hover {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) transparent;
	opacity: 0.85;
}
.tab-padding.tab-blue > li:not(.active) > a > [class*="fa-"]:first-child {
	color: #FFFFFF !important;
}
.tab-padding.tab-blue > li:not(.active) > a > .badge {
	background-color: #FFFFFF !important;
	color: rgba(0, 0, 0, 0.4) !important;
}
.tab-padding.tab-blue > li > a, .tab-padding.tab-blue > li > a:focus {
	background-color: #6C7F92;
}

.tab-padding.tab-blue > li.active > a, .tab-padding.tab-blue > li.active > a:focus, .tab-padding.tab-blue > li.active > a:hover {
	background-color: #FFFFFF;
	box-shadow: none;
	color: #333333;
}
.tab-padding.tab-blue > li.active > a, .tab-padding.tab-blue > li.active > a:focus, .tab-padding.tab-teal > li.active > a:hover {
	border-color: #364F6A #DDDDDD transparent;
	color: #333333;
}
.tabs-below .tab-padding.tab-blue > li.active > a {
	border-color: transparent #364F6A #DDDDDD;
}
.tab-padding.tab-blue {
	border-bottom-color: #364F6A;
	background-color: #F3F5F6;
}
.tabs-below .nav-tabs.tab-blue {
	padding-bottom: 6px;
	border-bottom-color: #DDDDDD;
	border-top: 0 none;
}

.nav > li.active > .dropdown-toggle {
	cursor: pointer !important;
}
.nav-pills .open .dropdown-toggle > [class*="fa-"], .nav > li.dropdown.open.active > a:hover > [class*="fa-"], .nav > li.dropdown.open.active > a:focus > [class*="fa-"] {
	color: #FFFFFF !important;
}
.nav-tabs > li:not(.active):not(.open) > a:not(:hover) > .disabled[class*="fa-"]:first-child {
	color: #909090 !important;
}

.nav-tabs.tab-space-1 > li > a {
	margin-right: 1px;
}
.nav-tabs.tab-space-2 > li > a {
	margin-right: 2px;
}
.nav-tabs.tab-space-3 > li > a {
	margin-right: 3px;
}
.nav-tabs.tab-space-4 > li > a {
	margin-right: 4px;
}
.nav-tabs.tab-padding {
	padding: 6px 5px 0;
	border: 1px solid #DDDDDD;
}
.panel-tabs .nav-tabs {
	float: right;
	margin-top: -52px;
	border: none;
}
.panel-tabs .nav-tabs > li > a {
	height: 36px;
	border-top: none;
	border-bottom: none;
	background: none;
	border-right: 1px solid #CDCDCD;
	box-shadow: 1px 1px 0 0 #FFFFFF;
}
.panel-tabs .nav-tabs > li > a:hover {
	background: #ffffff;
}
.panel-tabs .nav-tabs > li:first-child > a {
	box-shadow: 0 1px 0 1px #FFFFFF;
}
.panel-tabs .nav-tabs > li.active > a, .panel-tabs .nav-tabs > li.active > a:hover, .panel-tabs .nav-tabs > li.active > a:focus {
	background-color: #FFFFFF;
	background-image: none;
	border-color: #4C8FBD #DDDDDD transparent;
	border-top: none;
	box-shadow: none;
	color: #333333;
	line-height: 16px;
	margin-top: 0;
}
.panel-tabs .tab-content {
	border: none;
	padding: 0;
}
.tabs-right > .nav-tabs > li {
	float: none;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
.nav > li {
	display: block;
	position: relative;
}
.nav {
	list-style: none;
}
/* ---------------------------------------------------------------------- */
/*	Accordion
/* ---------------------------------------------------------------------- */
.accordion-custom .panel {
	background-color: #FFFFFF;
	border: none;
	border-radius: 0 0 0 0;
	box-shadow: none;
}
.accordion-custom .panel-heading {
	padding: 0;
	background-image: none;
	height: auto;
	box-shadow: none;
	border-radius: 0;
}
.accordion-custom .panel-body {
	border: none !important;
}
.accordion-custom .panel-heading .accordion-toggle {
	background-color: #cccccc;
	color: #606060;
	display: block;
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	padding: 10px;
	position: relative;
}
.accordion-custom .panel-heading .accordion-toggle:hover, .accordion-custom .panel-heading .accordion-toggle:focus {
	text-decoration: none;
}
.accordion-custom .panel-heading .accordion-toggle.collapsed {
	background-color: #F3F3F3;
	border-color: #D9D9D9;
	border-width: 0 0 0 1px;
	color: #606060;
	font-weight: normal;
}
.accordion-custom .panel-heading .accordion-toggle > .icon-arrow:before {
	content: "";
	font-family: "fontawesome" !important;
	font-style: normal;
	font-weight: normal;
}
.accordion-custom .panel-heading .accordion-toggle.collapsed > .icon-arrow:before {
	content: "" !important;
	font-family: "fontawesome" !important;
	font-style: normal;
	font-weight: normal;
}
.accordion-custom.panel-group .panel-heading .accordion-toggle > .icon-arrow {
	font-size: 11px;
	padding: 0 5px;
}
.accordion-custom.panel-group .panel-heading .accordion-toggle.collapsed > .icon-arrow {
	opacity: 0.75;
}

.accordion-teal .panel-heading .accordion-toggle {
	background-color: #ffffff !important;
	border-left: none;
	line-height: 22px;
}
.accordion-teal .panel-heading .accordion-toggle.collapsed {
	background-color: #ffffff !important;
	border-left: none;
	border-bottom: 1px solid #E7E7E7;
}
.accordion-teal .panel-heading .accordion-toggle > .icon-arrow:before {
	display: block;
	float: left;
	height: 22px;
	width: 22px;
	line-height: 22px;
	text-align: center;
	font-weight: normal;
}
.accordion-teal .panel-heading .accordion-toggle.collapsed > .icon-arrow:before {
	background-color: #333333;
}
/* ---------------------------------------------------------------------- */
/*	Slider Revolution  Elements
/* ---------------------------------------------------------------------- */
.bannercontainer {
	background-color: #fff;
	width: 960px;
	position: relative;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.banner {
	width: 960px;
	height: 500px;
	position: relative;
	overflow: hidden;
}

.bannercontainer-simple {
	padding: 0px;
	background-color: #fff;
	width: 960px;
	position: relative;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.banner-simple {
	width: 960px;
	height: 500px;
	position: relative;
	overflow: hidden;
}

.fullwidthbanner-container {
	width: 100% !important;
	position: relative;
	padding: 0;
	overflow: hidden;
}
.fullwidthbanner-container .fullwidthabnner {
	width: 100% !important;
	max-height: 450px !important;
	position: relative;
	border-bottom: 1px solid #E7E7E7;
	overflow: hidden;
	background: rgb(246, 246, 246);
}
.fullwidthbanner-container .fullwidthabnner > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.fullwidthbanner-container .fullwidthabnner > ul li {
	position: absolute;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

	.banner, .bannercontainer {
		width: 760px;
		height: 396px;
	}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.banner, .bannercontainer {
		width: 480px;
		height: 250px;
	}

}

@media only screen and (min-width: 0px) and (max-width: 479px) {
	.banner, .bannercontainer {
		width: 320px;
		height: 167px;
	}

}
/*Revolution*/
.slide_title {
	color: #555555;
	font-family: 'Open Sans';
	font-size: 45px;
	font-weight: 300;
	text-transform: uppercase;
}
.slide_subtitle {
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 400;
	padding: 5px;
	text-transform: uppercase;
}
.slide_list_item {
	background-color: #0088CC;
	color: #FAFAFA;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 400;
	padding: 5px;
	text-transform: uppercase;
}
.slide_desc {
	color: #7B8793;
	font-size: 14px;
	line-height: 24px;
}
.slide_desc_bordered {
	border-left: 3px solid #DDDDDD !important;
	padding-left: 5px;
}
/* ---------------------------------------------------------------------- */
/*	Testimonial
/* ---------------------------------------------------------------------- */
blockquote.testimonial {
	background: #F8F8F8;
	border: 0 none;
	color: #666666;
	font-style: italic;
	margin: 0;
	padding: 15px;
	position: relative;
}
blockquote.testimonial p {
	color: #8A8A8A;
	font-size: 13px;
	font-style: italic;
	margin-top: 0;
}
div.testimonial-arrow-down {
	border-left: 15px solid rgba(0, 0, 0, 0);
	border-right: 15px solid rgba(0, 0, 0, 0);
	border-top: 15px solid #F8F8F8;
	height: 0;
	margin: 0 0 0 25px;
	width: 0;
}
div.testimonial-author {
	margin: 8px 0 0 8px;
	min-height: 60px;
}
div.testimonial-author div.img-thumbnail {
	float: left;
	margin-right: 10px;
}
div.testimonial-author div.img-thumbnail img {
	max-width: 60px;
}
div.testimonial-author strong {
	color: #111111;
	display: block;
	padding-top: 7px;
}
div.testimonial-author span {
	color: #666666;
	display: block;
	font-size: 12px;
}
div.testimonial-author p {
	color: #999999;
	margin: 0 0 0 25px;
	text-align: left;
}
/* ---------------------------------------------------------------------- */
/*	Footer elements
/* ---------------------------------------------------------------------- */
footer {
	background: #363839;
	border-top: 4px solid #1F1F1F;
	font-size: 0.9em;
	padding: 40px 0 0;
	position: relative;
}
footer h4 {
	font-size: 1.8em;
	font-weight: 200;
	text-shadow: 1px 1px 1px #000000;
}
footer h1, footer h2, footer h3, footer h4, footer a {
	color: #FFFFFF !important;
}
footer div.twitter a.time {
	color: #999999;
	display: block;
	font-size: 0.9em;
	padding-top: 3px;
}
footer ul.contact {
	list-style: none;
	margin: 0;
	padding: 0;
}
footer ul.contact p {
	margin-bottom: 10px;
	line-height: 27px;
}
footer ul.contact i {
	float: left;
	margin: 7px 8px 10px 0;
}
footer div.newsletter form {
	max-width: 262px;
	width: 100%;
}
footer div.twitter .fa {
	clear: both;
	font-size: 20px;
	position: relative;
	top: 3px;
}
footer div.twitter a.time {
	color: #999999;
	display: block;
	font-size: 0.9em;
	margin-bottom: 20px;
	padding-top: 3px;
}
div.footer-copyright nav {
	float: right;
}
div.footer-copyright {
	background: #333333;
	border-top: 1px solid #444444;
	margin-top: 40px;
	padding: 20px 0 20px;
}
div.footer-copyright p {
	color: #555555;
	margin: 0;
	padding: 0;
}
div.footer-copyright nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
div.footer-copyright nav ul li {
	border-left: 1px solid #505050;
	display: inline-block;
	line-height: 12px;
	margin: 0;
	padding: 0 8px;
}
div.footer-copyright nav ul li:first-child {
	border: none;
	padding-left: 0;
}
/* ---------------------------------------------------------------------- */
/*	Slidingbar
/* ---------------------------------------------------------------------- */
#slidingbar-area {
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99999;
}
#slidingbar {
	background: rgba(54, 56, 57, 0.9);
	color: #8C8989;
	display: none;
	height: auto;
	overflow: hidden;
	padding: 35px 10px;
	position: relative;
	z-index: 3;
}
.ie8 #slidingbar {
	background: #363839;
}
.sb_toggle {
	border-color: rgba(0, 0, 0, 0) #363839 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 0 40px 40px 0;
	bottom: -40px;
	height: 0;
	position: absolute;
	right: 0;
	width: 0;
	z-index: 999;
	transition: border 100ms ease-out;
	-webkit-transition: border 100ms ease-out;
	-moz-transition: border 100ms ease-out;
	-o-transition: border 100ms ease-out;
}
.colored-top-bar .sb_toggle {
	border-color: rgba(0, 0, 0, 0) #363839 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
}
.sb_toggle.open {
	border-color: rgba(0, 0, 0, 0) rgba(54, 56, 57, 0.9) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.ie8 .sb_toggle {
	border-color: transparent #363839 transparent transparent;
}
.sb_toggle:after {
	color: #FFFFFF;
	content: "";
	display: block;
	font-family: "fontawesome";
	font-size: 11px;
	height: 40px;
	left: 24px;
	position: absolute;
	text-shadow: none !important;
	top: 3px;
}
.sb_toggle.open:after {
	content: "";
	display: block;
	font-family: "fontawesome";
	font-size: 12px;
	height: 40px;
	left: 24px;
	position: absolute;
	top: 3px;
}
#slidingbar h2 {
	color: #DDDDDD;
	margin: 0 0 28px;
	text-transform: uppercase;
	font-size: 13px !important;
}
/* ---------------------------------------------------------------------- */
/*	Page Top
/* ---------------------------------------------------------------------- */
.page-top {
	background-color: #F6F6F6;
	padding: 10px 0;
	border-bottom: 1px solid #E7E7E7;
}
.page-top .container {
	padding: 0;
}
.page-top h1 {
	color: #383838;
	font-size: 20px;
	line-height: 35px;
	margin-left: 10px;
	margin-top: 10px;
}
.breadcrumb {
	background: none;
	margin-bottom: 0;
	position: relative;
	top: 10px;
}
.breadcrumb > .active {
	color: #555555;
}
/* ---------------------------------------------------------------------- */
/*	Team List
/* ---------------------------------------------------------------------- */
ul.team-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.team-list .thumbnail {
	position: relative;
}
ul.team-list .thumbnail {
	border: none;
}
/* ---------------------------------------------------------------------- */
/*	Progress Bar
/* ---------------------------------------------------------------------- */
.progress {
	background: none repeat scroll 0 0 #FAFAFA;
	border-radius: 25px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	height: 20px;
	overflow: visible !important;
}
.progress-bar {
	border-radius: 25px;
	box-shadow: none;
	position: relative;
	overflow: visible !important;
}
/* ---------------------------------------------------------------------- */
/*	Feature Box
/* ---------------------------------------------------------------------- */
.feature-box .feature-icon {
	color: #333333;
	display: inline-block;
	float: left;
	height: 35px;
	line-height: 35px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	width: 35px;
	top: 5px;
}
.feature-box .feature-icon > i {
	font-size: 30px;
}
.feature-box .feature-info {
	padding-left: 50px;
}
/* ---------------------------------------------------------------------- */
/*	Map
/* ---------------------------------------------------------------------- */
#map {
	width: 100%;
	height: 300px;
}
/* ---------------------------------------------------------------------- */
/*	Blog Elements
/* ---------------------------------------------------------------------- */
.blog-photo-stream li {
	display: inline-block;
	margin: 0 5px 8px 0;
	overflow: hidden;
}
.blog-photo-stream img {
	border: 2px solid #9CA5AE;
	padding: 2px;
	width: 60px;
}

.blog-categories li a:before {
	content: "\f105";
	font-family: FontAwesome !important;
	font-size: 8px;
	padding-right: 10px;
	position: relative;
	top: -1px;
}
.blog-posts article {
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 50px;
	padding-bottom: 10px;
}
.blog-posts article .flexslider {
	margin-bottom: 25px;
	background: #FFFFFF;
	border: 4px solid #FFFFFF;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	position: relative;
}
article .post-meta {
	margin-bottom: 7px;
}
article .post-meta > span {
	display: inline-block;
	padding-right: 10px;
}
.post-page .post-meta, .recent-posts .post-meta {
	border-bottom: 1px solid #EEEEEE;
	border-top: 1px solid #EEEEEE;
	margin: 20px 0;
	padding: 10px 0;
}
div.post-media {
	border-top: 1px solid #EEEEEE;
	margin: 15px 0 0 0;
	padding: 20px 0 15px 0;
}
div.post-author div.img-thumbnail {
	display: inline-block;
	float: left;
	margin-right: 20px;
}
div.post-media p {
	line-height: 20px;
	margin: 0;
	padding: 0;
}
div.post-media h4 i {
	margin-right: 5px;
}
div.post-comments img.media-object {
	height: 60px;
	position: relative;
	top: 2px;
	width: 60px;
}
ul.blog-categories {
	margin-bottom: 35px;
}
ul.blog-categories > li a {
	border-bottom: 1px solid #EDEDDE;
	padding: 8px 20px;
	transition: all 0.3s ease 0s;
}
ul.post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.post-list li {
	border-bottom: 1px dotted #E2E2E2;
	padding: 15px 0;
	display: block;
	min-height: 90px;
}
ul.post-list .post-image {
	margin-right: 10px;
	float: left;
}

/* ---------------------------------------------------------------------- */
/*	Pricing Tables
/* ---------------------------------------------------------------------- */
#pricing_table_example1 .pricing-table {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DDDDDD;
	color: #333333;
	float: left;
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	padding: 20px;
	position: relative;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
	text-align: center;
}
#pricing_table_example1 .featured {
	border-radius: 5px 5px 5px 5px;
	border-width: 1px;
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, 0.15), -20px 0 10px -10px rgba(0, 0, 0, 0.15);
	z-index: 2;
}
#pricing_table_example1 .pricing-table:nth-child(1) {
	border-radius: 5px 0 0 5px;
}
#pricing_table_example1 .pricing-table:nth-child(4) {
	border-radius: 0 5px 5px 0;
}
#pricing_table_example1 .pricing-table h3 {
	background-color: #EEEEEE;
	background-image: linear-gradient(#FFFFFF, #EEEEEE);
	font-size: 20px;
	font-weight: normal;
	margin: -20px -20px 50px;
	padding: 20px;
}
#pricing_table_example1 .featured h3 {
	background-color: #DDDDDD;
	background-image: linear-gradient(#EEEEEE, #DDDDDD);
	border-radius: 5px 5px 0 0;
}
#pricing_table_example1 .pricing-table:nth-child(1) h3 {
	border-radius: 5px 0 0 0;
}
#pricing_table_example1 .pricing-table:nth-child(4) h3 {
	border-radius: 0 5px 0 0;
}
#pricing_table_example1 .pricing-table h3 span {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 5px solid #FFFFFF;
	border-radius: 100px 100px 100px 100px;
	box-shadow: 0 5px 20px #DDDDDD inset, 0 3px 0 #999999 inset;
	color: #777777;
	display: block;
	font: bold 35px/100px Georgia, Serif;
	height: 100px;
	margin: 10px auto -65px;
	width: 100px;
	line-height: 85px;
}
#pricing_table_example1 .pricing-table ul {
	list-style: none outside none;
	margin: 20px 0 0;
	padding: 0;
}
#pricing_table_example1 .pricing-table li {
	border-top: 1px solid #DDDDDD;
	padding: 10px 0;
}
#pricing_table_example1 .pricing-table .signup {
	background-color: #72CE3F;
	background-image: linear-gradient(#72CE3F, #62BC30);
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 0 rgba(0, 0, 0, 0.7);
	color: #FFFFFF;
	display: inline-block;
	font: bold 14px Arial, Helvetica;
	margin: 20px 0 0;
	padding: 8px 20px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
}
#pricing_table_example1 .pricing-table .signup:hover {
	background-color: #62BC30;
	background-image: linear-gradient(#62BC30, #72CE3F);
}
#pricing_table_example1 .pricing-table .signup:active, #pricing_table_example1 .pricing-table .signup:focus {
	background: none repeat scroll 0 0 #62BC30;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
	top: 2px;
}
#pricing_table_example2 .featured {
	z-index: 2;
}
#pricing_table_example2 .top {
	background: none repeat scroll 0 0 #2F2E35;
	border-radius: 10px 10px 0 0;
	height: 50px;
}
#pricing_table_example2 .top h2 {
	color: #FFFFFF;
	font: 300 30px/50px Helvetica, Verdana, sans-serif;
	text-align: center;
	margin: 0;
}
#pricing_table_example2 .pricing-table {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
	position: relative;
	text-align: center;
	padding: 0 0 20px 0;
}
#pricing_table_example2 .pricing-table ul {
	font: 300 18px/2 Helvetica, Verdana, sans-serif;
	list-style-type: none;
	margin: 20px 20px 0 20px;
	padding: 0;
}
#pricing_table_example2 .pricing-table ul strong {
	font-weight: bold;
}
#pricing_table_example2 .pricing-table hr {
	background-color: #BCBEC0;
	border: 0 none;
	color: #BCBEC0;
	height: 1px;
	margin: 20px 0 0 0;
}
#pricing_table_example2 .pricing-table h1 {
	font: bold 88px/1 Helvetica, Verdana, sans-serif;
	margin: 20px 0 0;
}
#pricing_table_example2 .pricing-table h1 sup {
	font-size: 45px;
}
#pricing_table_example2 .pricing-table p {
	color: #BCBEC0;
	font: 500 14px/1 Helvetica, Verdana, sans-serif;
}
/* ---------------------------------------------------------------------- */
/*	404 and 500 errors
/* ---------------------------------------------------------------------- */
body.error-full-page {
	background: #ffffff !important;
}
body.error-full-page .page-error {
	margin-top: 60px;
}
.page-error {
	text-align: center;
}
.page-error .error-number {
	display: block;
	font-size: 158px;
	font-weight: 300;
	letter-spacing: -10px;
	line-height: 128px;
	margin-top: 0;
	text-align: center;
}
.page-error .error-details {
	display: block;
	padding-top: 0;
	text-align: center;
}
.page-error .error-details .btn-return {
	margin: 10px 0;
}
.page-error .error-details h3 {
	margin-top: 0;
}
/* ---------------------------------------------------------------------- */
/*	Portfolio Elements
/* ---------------------------------------------------------------------- */

#Grid {
	min-height: 500px;
}
#Grid .mix {
	display: none;
	margin-bottom: 20px;
	opacity: 0;
	text-align: center;
	vertical-align: top;
}
div.portfolio-info {
	margin: 2px 0 10px 0;
}
.portfolio-info ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.portfolio-info ul li {
	border-right: 1px solid #E6E6E6;
	color: #B1B1B1;
	display: inline-block;
	font-size: 0.9em;
	margin-right: 8px;
	padding-right: 8px;
}
.portfolio-info ul li i.fa {
	margin-right: 4px;
}
.portfolio-item {
	position: relative;
}
.portfolio-item a.thumb-info span.thumb-info-title {
	background: rgba(0, 0, 0, 0.7);
	bottom: 4px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 700;
	left: 4px;
	padding: 10px;
	position: absolute;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
}
.portfolio-page ul.nav li a:hover, .portfolio-page ul.nav li.active a {
	background: #357EBD;;
	color: #FFFFFF;
}
.portfolio-page ul.nav li a {
	background: #EEEEEE;
	color: #555555;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 2px;
	padding: 6px 15px;
}
/* ---------------------------------------------------------------------- */
/*	Form Elements
/* ---------------------------------------------------------------------- */

.form-control {
	background-color: #FCFCFC;
	border-color: #E1E1E1;
	color: #919191;
	box-shadow: none;
	border-radius: 2px;
}
label {
	font-size: 12px;
}
.symbol.required:before {
	content: "*";
	display: inline;
	color: #E6674A;
}
/* ---------------------------------------------------------------------- */
/*	Icon Box
/* ---------------------------------------------------------------------- */
.icon-box {
	border-radius: 3px;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
	padding: 35px 20px 20px;
	background: #FFFFFF;
	position: relative;
	margin-top: 70px;
	text-align: center;
}
.icon-box .icon-box-icon {
	border: 2px solid rgba(255, 255, 255, 0.6);
	border-radius: 75px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 24px !important;
	height: 56px;
	line-height: 56px;
	text-align: center;
	width: 56px;
	position: absolute;
	top: -70px;
	left: 50%;
	overflow: hidden;
	margin: 0 0 0 -23px;
}
.icon-box .icon-box-title {
	font-size: 16px;
	letter-spacing: 1px;
	margin: 0 0 16px;
	padding: 2px 0 0;
	text-transform: uppercase;
}
/* ---------------------------------------------------------------------- */
/*	Style Selector
/* ---------------------------------------------------------------------- */
#style_selector {
	background: none repeat scroll 0 0 #FFFFFF;
	position: fixed;
	right: 0;
	top: 100px;
	width: 215px;
	z-index: 9999;
}
#style_selector_container {
	border: 1px solid rgba(23, 24, 26, 0.15);
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.14);
	display: none;
}
#style_selector_container img {
	border-radius: 100% 100% 100% 100%;
}
.style-main-title {
	background: #D9D9D9;
	border-bottom: 1px solid rgba(23, 24, 26, 0.15);
	color: #000000;
	font-size: 15px;
	height: 44px;
	line-height: 44px;
	text-align: center;
}
.box-title {
	font-size: 12px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	color: #AAA9A9 !important;
}
.input-box {
	border-bottom: 1px solid rgba(23, 24, 26, 0.15);
	padding: 0 10px 10px 10px;
	text-align: center;
}
.input-box input[type="text"] {
	background: none repeat scroll 0 0 #F7F7F7;
	border: 1px solid rgba(23, 24, 26, 0.15);
	color: #000000;
	font-size: 11px;
	margin-left: 10px;
	padding: 3px;
	width: 60px;
}
.input-box select {
	background: none repeat scroll 0 0 #F7F7F7;
	border: 1px solid rgba(23, 24, 26, 0.15);
	color: #000000;
	margin-left: 5px;
	width: 120px;
}
.input-box .radio-inline {
	margin: 0 10px !important;
}
#style_selector .style-toggle {
	background: #ffffff;
	cursor: pointer;
	height: 44px;
	width: 35px;
	border: 1px solid rgba(23, 24, 26, 0.15);
	border-right: none;
	border-radius: 5px 0 0 5px;
	line-height: 44px;
	text-align: center;
	color: #007AFF;
	font-size: 14px;
}
#style_selector > .open:before {
	content: "\e162";
	font-family: 'clip-font';
	line-height: 1;
}
#style_selector > .open {
	background-position: left top;
	left: -35px;
	position: absolute;
	top: 44px;
	width: 35px;
	opacity: 1;
}
#style_selector > .close:before {
	content: "\e163";
	font-family: 'clip-font';
	line-height: 1;
}
#style_selector > .close {
	background-position: left bottom;
	position: absolute;
	right: 0;
	top: 45px;
	width: 35px;
	opacity: 0.9;
}
#style_selector .images {
	border-bottom: 1px solid rgba(23, 24, 26, 0.15);
	padding-bottom: 10px;
	text-align: center;
	position: relative;
}
#style_selector .images img {
	height: 24px;
	margin-bottom: 7px;
	margin-right: 7px;
	width: 25px;
	z-index: 1000;
}
#style_selector .images img.active {
	border: 0 solid #CCCCCC;
	opacity: 0.5;
}
#style_selector .images .form-group {
	width: 50px;
	text-align: center;
	color: #AAA9A9;
	font-size: 10px;
	margin-bottom: 0;
}
.layout-boxed > .navbar, .layout-boxed .main-container, .layout-boxed > .footer {
	max-width: 1170px !important;
	height: 100px;
	margin-left: auto !important;
	margin-right: auto !important;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}
#style_selector .images input {
	display: none;
}
#style_selector .images .form-group {
	display: inline-block;
}
#style_selector .images .add-on {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	display: inline-block;
	font-weight: normal;
	line-height: 20px;
	min-width: 20px;
	padding: 5px;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	width: auto;
	margin-left: 2px;
}
#style_selector .images .add-on i {
	cursor: pointer;
	display: block;
	height: 20px;
	width: 20px;
}
#style_selector .clear_style {
	margin-right: 20px;
}